body {
  font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: content-box;
  background: #ddd;
  display: grid;
  grid-gap: 5px;
  color: #222;
  grid-template-areas:
    "header"
    "squat"
    "deadlift"
    "press"
    "bench"
    "cal";
}
@media (min-width: 684px) {
  body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "squat deadlift press"
      "cal cal cal";
  }
}
h2 {
  grid-area: header;
  margin: 0;
}
h3 {
  margin: 4px 0 0 6px;
  color: #666;
}
h4 {
  margin: 5px 0;
}
body > div {
  background: #fff;
}
.squat {
  grid-area: squat;
}
.deadlift {
  grid-area: deadlift;
}
.press {
  grid-area: press;
}
.bench {
  grid-area: bench;
}
.bench,
#bench-cal,
#bench-wilks {
  display: none;
}

.cal {
  grid-area: cal;
  background: #ddd;
  position: relative;
}
.cal-grid {
  position: relative;
  display: inline-block;
  font-size: 11px;
  line-height: 19px;
}
.cal-grid div {
  position: absolute;
  text-align: right;
}
svg#cal-legend {
  display: inline-block;
}
svg {
  display: block;
}
svg text {
  /* font-size: 8px; */
}
.tick {
}
.totals {
  font-size: 18px;
}
.totals .label {
  color: #666;
  padding-left: 10px;
}
